@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 18px;
  overflow-x: hidden;
}
a {
  display: inline-block;
  color: black;
}
body {
  max-width: 1440px;
  margin: 0 auto;
  padding: 1rem 5%;
  font-family: "Epilogue", sans-serif;
  background-color: hsl(0, 0%, 98%);
}

.cta {
  display: inline-block;
  border: black 1px solid;
  padding: 12px 24px;
  border-radius: 12px;
}

/* ! navbar start =========================== */
header {
  height: 8vh;
  display: flex;
  gap: 4rem;
  align-items: center;
  position: relative;
  justify-content: space-between;
}

header .navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header .navbar > ul {
  display: flex;
  gap: 2rem;
  align-items: center;
  position: relative;
}

header .navbar a {
  font-size: 0.8rem;
  color: hsl(0, 0%, 41%);
  font-weight: 500;
}

header .navbar a:hover {
  color: hsl(0, 0%, 8%);
}
header .navbar span img {
  margin-right: 15px;
  width: 12px;
}

header .navbar .cta {
  padding: 8px 16px;
}
header .navbar .cta:hover {
  color: hsl(0, 0%, 8%);
  border-color: hsl(0, 0%, 8%);
}
header .features-dropdown,
header .company-dropdwon {
  display: none;
  position: absolute;
  top: 6vh;
  background-color: white;
  padding: 23px;
  border-radius: 10px;
  box-shadow: 0px 10px 20px 0px hsla(0, 0%, 52%, 0.541);
}
header .arrow,
.arrow {
  margin-left: 10px;
}
header .features-dropdown.show,
header .company-dropdwon.show {
  display: block;
}

header .features-dropdown a,
header .company-dropdwon a {
  margin-bottom: 10px;
}

header .features-dropdown li:last-child a,
header .company-dropdwon li:last-child a {
  margin-bottom: 0px;
}

header .features-dropdown {
  left: -3.4rem;
}

header .menu {
  display: none;
}

/* ! navbar end =========================== */

/* ! hero start =========================== */

section.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-block: 4.4rem;
  padding-left: 10%;
  align-items: flex-end;
  gap: 5%;
}
section.hero h1 {
  font-size: 4rem;
  max-width: 10.9ch;
  color: hsl(0, 0%, 8%);
}

section.hero .cta {
  color: white;
  background-color: hsl(0, 0%, 8%);
  margin-bottom: 5rem;
}
section.hero .cta:hover {
  color: hsl(0, 0%, 8%);
  background-color: transparent;
  border-color: hsl(0, 0%, 8%);
}
section.hero p {
  max-width: 40ch;
  margin-block: 2.5rem 2rem;
  line-height: 1.3;
  color: hsl(0, 0%, 41%);
}

section.hero .clients_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 0.5rem;
}
section.hero .image {
}
section.hero .image img {
  max-width: 75%;
}
/* ! hero end =========================== */

@media (max-width: 1284px) {
  html {
    font-size: 15px;
  }

  section.hero .cta {
    margin-bottom: 4rem;
  }

  section.hero p {
    margin-block: 2rem 1.5rem;
  }

  section.hero .clients_container img {
    max-width: 50%;
  }
}

@media (max-width: 1020px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 977px) {
  html {
    font-size: 11px;
  }

  p {
    font-size: 1.1rem;
  }
  header .navbar a {
    font-size: 1rem;
  }
}

@media (max-width: 864px) {
  section.hero .cta {
    margin-bottom: 3rem;
  }

  section.hero p {
    margin-block: 1.5rem 1rem;
  }
}

@media (max-width: 713px) {
  header .menu {
    display: block;
  }

  header .navbar {
    position: absolute;
    top: 8vh;
    z-index: 9;
    width: 70vw;
    right: -1000%;
    height: 100vh;
    flex-direction: column;
    gap: 3rem;
    background-color: hsl(0, 0%, 98%);
    justify-content: flex-start;
    padding: 2rem;
    transition: right 0.4s ease-in-out;
  }

  header .navbar.show {
    right: 0;
  }

  header .navbar > ul {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    position: relative;
    flex-direction: column;
  }

  header .navbar > ul:last-child li {
    width: 100%;
    text-align: center;
  }
  header .navbar > ul:last-child li:last-child a {
    display: block;
    padding-block: 0.7rem;
  }

  header .features-dropdown,
  header .company-dropdwon {
    display: none;
    position: relative;
    top: 1rem;
    padding: 0px;
    border-radius: 5px;
    left: 1rem;
    margin-bottom: 1rem;
    box-shadow: none;
    background-color: transparent;
  }

  header .features-dropdown a,
  header .company-dropdwon a {
    margin-bottom: 1rem;
  }

  html {
    font-size: 18px;
  }

  body {
    padding-bottom: 15%;
  }

  section.hero {
    grid-template-columns: 1fr;
    padding-left: 0px;
  }

  section.hero .image {
    order: -1;
  }

  section.hero .content {
    order: 1;
    text-align: center;
    margin-top: 3rem;
  }

  section.hero h1 {
    max-width: fit-content;
  }

  section.hero p {
    max-width: fit-content;
    margin-bottom: 2rem;
  }

  section.hero .clients_container img {
    margin: 0 auto;
    max-width: 100%;
  }

  section.hero .image img {
    max-width: 100%;
  }
}

@media (max-width: 370px) {
  html {
    font-size: 15px;
  }

  header .navbar a {
    font-size: 0.9.8rem;
  }
  section.hero h1 {
    font-size: 2rem;
    margin: 0 auto;
  }

  section.hero .clients_container img {
    max-width: 70%;
  }
}
